<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar posts..." #txtBuscar>
                <button class="btn btn-primary" (click)="buscarRol(txtBuscar.value)">
                    Buscar
                </button>
            </div>
        </div>
    </div>

    <h2>Roles</h2>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo de Rol</th>
                        <th>¿Puede crear un post?</th>
                        <th>¿Puede editar un post?</th>
                        <th>¿Puede eliminar un post?</th>
                        <th>¿Puede administrar a usuarios?</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @for (rol of roles; track rol.id) {
                    <tr>
                        <td>{{rol.id}}</td>
                        <td>{{rol.role_name}}</td>
                        <td>{{rol.can_create_post}}</td>
                        <td>{{rol.can_edit_post}}</td>
                        <td>{{rol.can_delete_post}}</td>
                        <td>{{rol.can_manage_users}}</td>
                        <td>{{rol.created_at}}</td>
                        <td>
                            <button class="btn btn-info btn-sm me-2" (click)="verRol(rol.id)">Ver</button>
                            <button class="btn btn-primary btn-sm me-2">Editar</button>
                            <button class="btn btn-danger btn-sm">Eliminar</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

            <div *ngIf="!roles || roles.length === 0" class="alert alert-info mt-3">
                No se encontraron roles
            </div>
        </div>
    </div>
</div>