<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar comentarios..." #txtBuscar>
                <button class="btn btn-primary" (click)="buscarComentario(txtBuscar.value)">
                    Buscar
                </button>
            </div>
        </div>
    </div>

    <h2>Comentarios</h2>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Posts ID</th>
                        <th>Users ID</th>
                        <th>Content</th>
                        <th>Fecha</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @for (comentario of comentarios; track comentario.id) {
                    <tr>
                        <td>{{comentario.id}}</td>
                        <td>{{comentario.post_id}}</td>
                        <td>{{comentario.user_id}}</td>
                        <td>{{comentario.content}}</td>
                        <td>{{comentario.created_at}}</td>
                        <td>
                            <button class="btn btn-info btn-sm me-2" (click)="verComentario(comentario.id)">Ver</button>
                            <button class="btn btn-primary btn-sm me-2">Editar</button>
                            <button class="btn btn-danger btn-sm">Eliminar</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

            <div *ngIf="!comentarios || comentarios.length === 0" class="alert alert-info mt-3">
                No se encontraron comentarios
            </div>
        </div>
    </div>
</div>